footer {
    background-color: #222;
    height: auto;
    transition: margin-left 0.2s;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: super;
}

div.w3-row {
    color: white;
    width: 70%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}